@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;700&display=swap');
:root{
    --primary-color: #FFC727;
  --primary-light-color: #FFE192;
  --secondary-color: grey;
  --secondary-light-color: lightgrey;
  --primary-background-color: white;
  --hover-color: #7d9fef;
  }

  .helloween{
    --primary-color:  #ba40cd ;
    --primary-light-color: rgb(238, 160, 17);
    --secondary-color:  white;
    --secondary-light-color:rgb(56, 51, 51);
    --primary-background-color: grey;
    
    --hover-color: ORANGE;
  }
  
  .default{
    --primary-color: #FFC727;
    --primary-light-color: #FFE192;
    --secondary-color: grey;
    --secondary-light-color: lightgrey;
    --primary-background-color: white;
    --hover-color: #7d9fef;
  }

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding: 1em;
    padding-bottom: 2em;
    background-color:var(--primary-background-color);
    
}

header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-left: 1em;
    align-items: center;
}
header .header-img a{
    height: 50px;
    width: 50px;
}

    

header h1.title-lg {
    font-family: 'Baloo Da 2', cursive;
    color: var(--primary-color);
    font-size: 2.5em;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 0;
 }
 header h1.title-sm {
    visibility: hidden;
    height: 0;
    text-decoration: none;
 }
header .title {
    text-decoration: none;
    width:11rem;
    
}
header.title-extended{
    width: 60%;

}
header p{
    font-family: 'Baloo Da 2', cursive;
    color: var(--primary-color);
    font-size: 1em;
    
}



.navbar{
    background-color: var(--primary-background-color);
    height: 100px;
    display: flex;
   justify-content: flex-start;
   align-items: center;
}
.menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: var(--primary-light-color);
    width:250px;
    height: 100vh;
    display: flex;
    justify-content: center; 
    position:fixed;
    top: 0;
    left:-100%;
    transition: 850ms;
    
}

.nav-menu.active {
    left:0;
transition: 350ms;

}
.nav-text {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding:1em 0px 1em 2em;
    list-style: none;
    height: 2em;
    font-family: 'Baloo Da 2', cursive;
    margin: 1em;
}
.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    width:95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 0.4em;
    
}
.nav-text :hover {
    background-color: var(--hover-color);

}

.nav-menu-items {
    width: 100%;
    
}
.navbar-toggle{
    background-color: var(--primary-light-color);
    width: 100%;
    height:80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
span{
    margin-left: 0.2em;
    font-family: 'Baloo Da 2', cursive;
}

.btn-sidebar{
    height: 0;
    width:0;
    visibility: hidden;

}
@media screen and (max-width: 640px){
    header{
        height: 6em;
        
    }
    header .title {
        text-decoration: none;
        width:6rem;
        
    }
    header h1.title-sm{
    font-family: 'Baloo Da 2', cursive;
    color:var(--primary-color);
    font-size: 2.5em;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 1em;
    }
    header h1.title-lg {
      height: 0;
       visibility: hidden;
       z-index:0;
     }

    
     header p{
        visibility: hidden;  
    }
   
    .title-img{
        width: 5rem;
        height: 5rem;
        margin-left: -3rem;
        margin-top: 1.5rem;
        z-index: 10;
      }
    .btn-sidebar{
    width: 60%;
    height: 10%;
    background-color: white;
    padding: 0.5em 1em;
    visibility: visible;
    border: 1px solid black;
    border-radius: 0.5em;
    margin:1em;
    text-decoration: none;
    color: black;
    font-family:'Baloo Da 2', cursive ;
    margin-left: 2.5em;
}
.btn-sidebar:hover {
    background-color:  var(--primary-light-color);
}

}